# Terms to GMT File from Pubmed

Author: Moshe Silverstein <br/>
Date: 11-17 <br/>

In [218]:
import pandas as pd
import numpy as np
import os, sys
import requests
import urllib.request, json 
from collections import Counter

## Load Gene Rif

In [17]:
# gene_rif = pd.read_csv('Input/generifs_basic', sep='\t')

In [18]:
# gene_rif.head()

In [19]:
gene_rif_from_source = pd.read_csv('ftp://ftp.ncbi.nih.gov/gene/GeneRIF/generifs_basic.gz', sep='\t', low_memory=False, index_col=2)

In [20]:
gene_rif_from_source.head()

,#Tax ID,Gene ID,last update timestamp,GeneRIF text
PubMed ID (PMID) list,,,,
26235439,24,5129993,2016-08-06 11:16,study demonstrate that polar positioning of th...
27216815,24,5129993,2017-06-10 12:02,"Three Cas proteins (Cas6f, Cas7fv, Cas5fv) and..."
25803609,34,4126706,2016-02-20 10:11,BacM of Myxococcus xanthus forms an extended b...
25998248,34,4126706,2016-07-30 11:20,Data suggest BtkB exhibits conserved amino aci...
26639551,34,4126706,2016-10-22 11:28,"EpsW, an orphan and single-domain response reg..."

## Load Gene Mapping

In [21]:
gene_map = pd.read_csv('Input/mapgeneidtosymbol.txt', sep='\t', index_col=1)

In [22]:
gene_map.head()

                                 Approved Symbol
Entrez Gene ID(supplied by NCBI)
1.0                                         A1BG
503538.0                                A1BG-AS1
29974.0                                     A1CF
2.0                                          A2M
144571.0                                 A2M-AS1

## Query Pubmed for pubmed ids of publications containing the given term

In [276]:
def getPubmedIdsFromNCBI(term, place, numberOfTerms):

    results = []
    results2 = []
    results3 = []
    results4 = []
    results5 = []
    results6 = []
    results7 = []
    results8 = []
    results9 = []
    results10 = []

    link = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=%s&retmode=json&retmax=%s&retstart=%s" % (term, 100, 100)

    try:
    
        with urllib.request.urlopen(link) as url:
            data = json.loads(url.read().decode())

        number_of_results = int(data['esearchresult']['count'])

        start = 0

        grab = 100000
        
    except:
        pass
    else:

        while start < number_of_results:
    #     while start < 100000:

            progressPercent = ((start)/number_of_results)*100

            sys.stdout.write("Progress for %s which is %d out of %d Terms: ~%d%%  %d through %d Out of %d  \r" % (term, place, numberOfTerms, progressPercent, start, start+grab, number_of_results))
            sys.stdout.flush()

            link = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=%s&retmode=json&retmax=%s&retstart=%s&usehistory=y" % (term, grab, start)

            try:
                url = urllib.request.urlopen(link)
                data = json.loads(url.read().decode()) 
            except:
                pass
            else:
                
    #         try:
    #             with urllib.request.urlopen(link) as url:
    #                 data = json.loads(url.read().decode())

    #             results.append(data['esearchresult']['idlist'])
                if len(results) <= 1000000:
                    results.extend(data['esearchresult']['idlist'])
                elif len(results2) <= 1000000:
                    results2.extend(data['esearchresult']['idlist'])
                elif len(results3) <= 1000000:
                    results3.extend(data['esearchresult']['idlist'])
                elif len(results4) <= 1000000:
                    results4.extend(data['esearchresult']['idlist'])
                elif len(results5) <= 1000000:
                    results5.extend(data['esearchresult']['idlist'])
                elif len(results6) <= 1000000:
                    results6.extend(data['esearchresult']['idlist'])
                elif len(results7) <= 1000000:
                    results7.extend(data['esearchresult']['idlist'])
                elif len(results8) <= 1000000:
                    results8.extend(data['esearchresult']['idlist'])
                elif len(results9) <= 1000000:
                    results9.extend(data['esearchresult']['idlist'])
                else:
                    results10.extend(data['esearchresult']['idlist'])

                start += grab
    #         except urllib.error.URLError as e:
    #             break
    #         except:
    #             start += grab

    #     results = [item for items in results for item in items]

        results.extend(results2)
        results.extend(results3)
        results.extend(results4)
        results.extend(results5)
        results.extend(results6)
        results.extend(results7)
        results.extend(results8)
        results.extend(results9)
        results.extend(results10)

        return (results)

## Convert Pubmed Ids to Genes

In [249]:
def getGenes(pubmedIds):
    
    if type(pubmedIds) == list:
    
        pubmedIdsthathavegenes =  gene_rif_from_source.index.intersection(pubmedIds)
    #     print('\n'+str(len(pubmedIdsthathavegenes)))

    #     geneIds = gene_rif_from_source.loc[pubmedIdsthathavegenes, 'Gene ID'].values.tolist()
        geneIds1 = gene_rif_from_source.loc[pubmedIdsthathavegenes[0:int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds2 = gene_rif_from_source.loc[pubmedIdsthathavegenes[int(len(pubmedIdsthathavegenes)/10):2*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds3 = gene_rif_from_source.loc[pubmedIdsthathavegenes[2*int(len(pubmedIdsthathavegenes)/10):3*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds4 = gene_rif_from_source.loc[pubmedIdsthathavegenes[3*int(len(pubmedIdsthathavegenes)/10):4*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds5 = gene_rif_from_source.loc[pubmedIdsthathavegenes[4*int(len(pubmedIdsthathavegenes)/10):5*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds6 = gene_rif_from_source.loc[pubmedIdsthathavegenes[5*int(len(pubmedIdsthathavegenes)/10):6*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds7 = gene_rif_from_source.loc[pubmedIdsthathavegenes[6*int(len(pubmedIdsthathavegenes)/10):7*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds8 = gene_rif_from_source.loc[pubmedIdsthathavegenes[7*int(len(pubmedIdsthathavegenes)/10):8*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds9 = gene_rif_from_source.loc[pubmedIdsthathavegenes[8*int(len(pubmedIdsthathavegenes)/10):9*int(len(pubmedIdsthathavegenes)/10)], 'Gene ID'].values.tolist()
        geneIds10 = gene_rif_from_source.loc[pubmedIdsthathavegenes[9*int(len(pubmedIdsthathavegenes)/10):len(pubmedIdsthathavegenes)], 'Gene ID'].values.tolist()

        genes1 = gene_map.loc[geneIds1, 'Approved Symbol']
        genes2 = gene_map.loc[geneIds2, 'Approved Symbol']
        genes3 = gene_map.loc[geneIds3, 'Approved Symbol']
        genes4 = gene_map.loc[geneIds4, 'Approved Symbol']
        genes5 = gene_map.loc[geneIds5, 'Approved Symbol']
        genes6 = gene_map.loc[geneIds6, 'Approved Symbol']
        genes7 = gene_map.loc[geneIds7, 'Approved Symbol']
        genes8 = gene_map.loc[geneIds8, 'Approved Symbol']
        genes9 = gene_map.loc[geneIds9, 'Approved Symbol']
        genes10 = gene_map.loc[geneIds10, 'Approved Symbol']

        genes =  genes1
        genes = pd.concat([genes, genes2])
        genes = pd.concat([genes, genes3])
        genes = pd.concat([genes, genes4])
        genes = pd.concat([genes, genes5])
        genes = pd.concat([genes, genes6])
        genes = pd.concat([genes, genes7])
        genes = pd.concat([genes, genes8])
        genes = pd.concat([genes, genes9])
        genes = pd.concat([genes, genes10])

        genes.dropna(inplace=True)

        genes = genes.values.tolist()

        return(genes)
    else:
        return([''])

## Get top genes by count

In [243]:
def getTopByCount(genes, top):
    
    
    genesWithCount = Counter(genes)

    most_common = genesWithCount.most_common(top)

    most_common = [gene[0] for gene in most_common]

    return(most_common)

## Input list of terms and get GMT file output

In [167]:
def getListOfGenesForTerm(terms, howManyTop, filename, folder):
    
    for i, term in enumerate(terms):
        
#         progressPercent = ((i+1)/len(terms))*100

#         sys.stdout.write("Progress: %d%%  %d Out of %d terms  \r" % (progressPercent, (i+1), len(terms)))
#         sys.stdout.flush()
    
        term = term.lower()

        term = '+'.join(term.split(' '))

        pubmedIds = getPubmedIdsFromNCBI(term, (i+1), len(terms))

        genes = getGenes(pubmedIds)

        topGenes = getTopByCount(genes, howManyTop)
        
        if (' ').join(term.split('+')).upper() in topGenes:
            topGenes.remove((' ').join(term.split('+')).upper())
        
        if len(topGenes) >= 4:
        
            geneSet = topGenes

            geneSet.insert(0, (' ').join(term.split('+')).upper())

            geneSet.insert(1, 'NA')

            geneSet = ['{0}\t'.format(elem) for elem in geneSet] # add tabs between terms in the lst

            geneSet.insert(len(geneSet), '\n') # add a newline char at the end of each lst

            with open(folder+'/'+filename, 'a') as the_file:
                the_file.writelines(geneSet)

## Run Code

In [27]:
# terms = ['breast cancer', 'colon cancer', 'lung cancer', "crohn's disease"]

In [188]:
# getListOfGenesForTerm(terms, 100, 'test.gmt', 'Output')

In [65]:
# terms = ['blood precdcs']

In [189]:
# getListOfGenesForTerm(terms, 100, 'test.gmt', 'Output')

# ARCHS4 Tissue List

In [178]:
df = pd.read_csv('Input/archs4_tissue_attribute_list_2017_08.tsv')

In [179]:
df.head()

              Attributes
0  ADIPOSE (BULK TISSUE)
1          ADRENAL GLAND
2             ALPHA CELL
3  ALVEOLAR CELL TYPE II
4    ALVEOLAR MACROPHAGE

In [180]:
tissues = df.values.tolist()

In [181]:
tissues = [item[0] for item in tissues]

In [182]:
tissues1 = [item.split('(')[0][:-1] for item in tissues if '(' in item]

In [183]:
tissues2 = [item for item in tissues if '(' not in item]

In [184]:
tissues = tissues1 + tissues2

In [185]:
tissues = list(set(tissues))

In [186]:
tissues[0:10]

['DORSAL STRIATUM',
 'HUMAN EMBRYO',
 'ESOPHAGUS',
 'ALPHA CELL',
 'SKELETAL MUSCLE SATELLITE CELL',
 'FIBROBLAST',
 'SENSORY NEURON',
 'TESTIS',
 'OSTEOBLAST',
 'SUPERIOR FRONTAL GYRUS']

In [187]:
getListOfGenesForTerm(tissues, 100, 'archs4_tissue_11_14_2017_top_100_min_>=4.gmt', 'Output')

# ARCHS4 Transcrption Factor List

In [138]:
df = pd.read_csv('Input/archs4_transcription_factor_attribute_list_2017_08.tsv')

In [139]:
df.head()

  Attributes
0      ZNF19
1      ARNTL
2       HEY1
3     ZNF260
4       MAFG

In [150]:
tfs = df.values.tolist()

In [155]:
tfs = [item[0] for item in tfs]

In [156]:
tfs[0:10]

['ZNF19',
 'ARNTL',
 'HEY1',
 'ZNF260',
 'MAFG',
 'POU6F2',
 'NPAS1',
 'WT1',
 'PDS5B',
 'ZNF257']

In [170]:
getListOfGenesForTerm(tfs, 100, 'archs4_tf_11_15_2017_top_100_min_>=4.gmt', 'Output')

# ARCHS4 Kinase List

In [171]:
df = pd.read_csv('Input/archs4_kinase_attribute_list_2017_08.tsv')

In [172]:
df.head()

  Attributes
0      MKNK2
1       PRKY
2      TESK1
3      MINK1
4       SBK2

In [173]:
ks = df.values.tolist()

In [175]:
ks = [item[0] for item in ks]

In [176]:
ks[0:10]

['MKNK2',
 'PRKY',
 'TESK1',
 'MINK1',
 'SBK2',
 'PIK3CA',
 'MAP2K1',
 'MAP3K8',
 'ANKK1',
 'DAPK3']

In [177]:
getListOfGenesForTerm(ks, 100, 'archs4_kinases_11_15_2017_top_100_min_>=4.gmt', 'Output')

# ARCHS4 Celline List

In [191]:
df = pd.read_csv('Input/archs4_celline_attribute_list_2017_08.tsv')

In [192]:
df.head()

  Attributes
0      22RV1
1       293F
2       A172
3       A375
4       A431

In [193]:
cl = df.values.tolist()

In [194]:
cl = [item[0] for item in cl]

In [196]:
cl[0:10]

['22RV1',
 '293F',
 'A172',
 'A375',
 'A431',
 'A549',
 'A673',
 'ASPC1',
 'BEAS2B',
 'BEWO']

In [197]:
getListOfGenesForTerm(cl, 100, 'archs4_celline_11_15_2017_top_100_min_>=4.gmt', 'Output')

# GO Biologogical Process Term List

In [231]:
df = pd.read_csv('Input/go_biological_process_attribute_list_2017_08.tsv', sep='\t')

In [232]:
df.head()

                                          Attributes
0                                  tRNA modification
1                Fc-gamma receptor signaling pathway
2  minus-end-directed organelle transport along m...
3         termination of mitochondrial transcription
4                regulation of ribonuclease activity

In [233]:
gbp = df.values.tolist()

In [234]:
gbp = [item[0] for item in gbp]

In [235]:
gbp[0:10]

['tRNA modification',
 'Fc-gamma receptor signaling pathway',
 'minus-end-directed organelle transport along microtubule',
 'termination of mitochondrial transcription',
 'regulation of ribonuclease activity',
 'T-helper 1 cell activation',
 'saturated monocarboxylic acid metabolic process',
 'purine nucleotide interconversion',
 'regulation of endoplasmic reticulum stress-induced neuron intrinsic apoptotic signaling pathway',
 'cellular response to potassium ion']

In [246]:
getListOfGenesForTerm(gbp, 100, 'go_biological_process_11_15_2017_top_100_min_>=4.gmt', 'Output')

TypeError: object of type 'NoneType' has no len()

In [250]:
getListOfGenesForTerm(gbp[1884:], 100, 'go_biological_process_11_15_2017_top_100_min_>=4.gmt', 'Output')

# GO Cellular Component Term List

In [222]:
df = pd.read_csv('Input/go_cellular_component_attribute_list_2017_08.tsv', sep='\t')

In [223]:
df.head()

                                          Attributes
0  vacuolar proton-transporting V-type ATPase, V1...
1      extrinsic component of autophagosome membrane
2         junctional sarcoplasmic reticulum membrane
3                                          Barr body
4              cytoplasmic ribonucleoprotein granule

In [224]:
df.shape

(1275, 1)

In [225]:
gcc = df.values.tolist()

In [226]:
gcc = [item[0] for item in gcc]

In [227]:
gcc[0:10]

['vacuolar proton-transporting V-type ATPase, V1 domain',
 'extrinsic component of autophagosome membrane',
 'junctional sarcoplasmic reticulum membrane',
 'Barr body',
 'cytoplasmic ribonucleoprotein granule',
 'NatA complex',
 'phagocytic vesicle lumen',
 'TEAD-2-YAP complex',
 'chromaffin granule',
 'vacuolar proton-transporting V-type ATPase complex']

In [230]:
getListOfGenesForTerm(gcc, 100, 'go_cellular_component_11_15_2017_top_100_min_>=4.gmt', 'Output')

# GO Molecular Function Term List

In [251]:
df = pd.read_csv('Input/go_molecular_function_attribute_list_2017_08.tsv', sep='\t')

In [252]:
df.head()

                                          Attributes
0                         polygalacturonase activity
1  NAD(P)+-protein-arginine ADP-ribosyltransferas...
2             cholate 7-alpha-dehydrogenase activity
3                    carbon monoxide sensor activity
4                          phospholipase A2 activity

In [253]:
df.shape

(7115, 1)

In [254]:
gmf = df.values.tolist()

In [255]:
gmf = [item[0] for item in gmf]

In [256]:
gmf[0:10]

['polygalacturonase activity',
 'NAD(P)+-protein-arginine ADP-ribosyltransferase activity',
 'cholate 7-alpha-dehydrogenase activity',
 'carbon monoxide sensor activity',
 'phospholipase A2 activity',
 'CCR9 chemokine receptor binding',
 'D-glucose transmembrane transporter activity',
 '11-hydroxythromboxane B2 dehydrogenase activity',
 'methionine transmembrane transporter activity',
 'isocitrate O-dihydroxycinnamoyltransferase activity']

In [257]:
getListOfGenesForTerm(gmf, 100, 'go_molecular_function_11_20_2017_top_100_min_>=4.gmt', 'Output')

# Jensen Lab Disease Terms List

In [258]:
df = pd.read_csv('Input/jensen_disease_attribute_list_2017_08.tsv', sep='\t')

In [259]:
df.head()

                                 Attributes
0                           Hartnup disease
1                                 Hordeolum
2                        Rh isoimmunization
3  Diffuse idiopathic skeletal hyperostosis
4            Contagious pustular dermatitis

In [260]:
df.shape

(3679, 1)

In [261]:
jld = df.values.tolist()

In [262]:
jld = [item[0] for item in jld]

In [263]:
jld[0:10]

['Hartnup disease',
 'Hordeolum',
 'Rh isoimmunization',
 'Diffuse idiopathic skeletal hyperostosis',
 'Contagious pustular dermatitis',
 'Reticular dysgenesis',
 'Frontal sinus cancer',
 'Congenital afibrinogenemia',
 'Insulinoma',
 'Hyperlysinemia']

In [265]:
getListOfGenesForTerm(jld, 100, 'jensen_lab_diseases_11_20_2017_top_100_min_>=4.gmt', 'Output')

# Jensen Lab Tissues Terms List

In [266]:
df = pd.read_csv('Input/jensen_tissue_attribute_list_2017_08.tsv', sep='\t')

In [267]:
df.head()

                        Attributes
0                          Oc cell
1                    MC3T3-E1 cell
2                          colo684
3                   MSTO-211H cell
4  Inner medullary collecting duct

In [268]:
df.shape

(4098, 1)

In [271]:
jlt = df.values.tolist()

In [272]:
jlt = [item[0] for item in jlt]

In [273]:
jlt[0:10]

['Oc cell',
 'MC3T3-E1 cell',
 'colo684',
 'MSTO-211H cell',
 'Inner medullary collecting duct',
 'Middle ear',
 'Photophore',
 'Bursa copulatrix',
 'Parahippocampal gyrus',
 'A-1235 cell']

In [277]:
getListOfGenesForTerm(jlt, 100, 'jensen_lab_tissues_11_20_2017_top_100_min_>=4.gmt', 'Output')

# Jensen Lab Compartments Terms List

In [278]:
df = pd.read_csv('Input/jensen_compartments_attribute_list_2017_08.tsv', sep='\t')

In [279]:
df.head()

                                      Attributes
0  Presynaptic active zone cytoplasmic component
1            Cytoplasmic exosome (RNase complex)
2                            ERBB4-ERBB3 complex
3                            Fc receptor complex
4                      CENP-A recruiting complex

In [280]:
df.shape

(2826, 1)

In [281]:
jlc = df.values.tolist()

In [282]:
jlc = [item[0] for item in jlc]

In [283]:
jlc[0:10]

['Presynaptic active zone cytoplasmic component',
 'Cytoplasmic exosome (RNase complex)',
 'ERBB4-ERBB3 complex',
 'Fc receptor complex',
 'CENP-A recruiting complex',
 'Signal recognition particle',
 'Integrin alphav-beta3 complex',
 'Mitochondrial part',
 'Pexophagosome',
 'ferredoxin:thioredoxin reductase complex']

In [284]:
getListOfGenesForTerm(jlc, 100, 'jensen_lab_compartments_11_20_2017_top_100_min_>=4.gmt', 'Output')

# List of Phenotypes from from Human Phenotype Ontology

In [285]:
df = pd.read_csv('Input/hpo_attribute_list_2017_11.tsv', sep='\t')

In [286]:
df.head()

                             Attributes
0                          Astrocytosis
1                  Alopecia universalis
2  Aplasia/Hypoplasia of the pubic bone
3                 Thromboembolic stroke
4                    Respiratory arrest

In [287]:
df.shape

(7841, 1)

In [288]:
hpo = df.values.tolist()

In [289]:
hpo = [item[0] for item in hpo]

In [290]:
hpo[0:10]

['Astrocytosis',
 'Alopecia universalis',
 'Aplasia/Hypoplasia of the pubic bone',
 'Thromboembolic stroke',
 'Respiratory arrest',
 'Lipomatous tumor',
 'Enlarged cisterna magna',
 'Spontaneous esophageal perforation',
 'Cerebellar Purkinje layer atrophy',
 'Post-angioplasty coronary artery restenosis']

In [291]:
getListOfGenesForTerm(hpo, 100, 'hpo_phenotype_11_20_2017_top_100_min_>=4.gmt', 'Output')

# CCLE Cell Line Term List

In [303]:
df = pd.read_csv('Input/ccle_attribute_list_2017_08.tsv', sep='\t')

In [304]:
df.head()

                    Attributes
0  LN18_CENTRAL_NERVOUS_SYSTEM
1                  769P_KIDNEY
2                  786O_KIDNEY
3                  CAOV3_OVARY
4                  HEPG2_LIVER

In [305]:
lst = []

for i,index in enumerate(df.index):
    
    progressPercent = ((i+1)/len(df.index))*100

    sys.stdout.write("Progress: %d%%  %d Out of %d terms  \r" % (progressPercent, (i+1), len(df.index)))
    sys.stdout.flush()
    
    lst.append(df.loc[index, 'Attributes'].split('_')[0])
    
df['Attributes'] = lst

df.drop_duplicates(inplace=True)

In [306]:
df.head()

  Attributes
0       LN18
1       769P
2       786O
3      CAOV3
4      HEPG2

In [307]:
ccle = df.values.tolist()

In [308]:
ccle = [item[0] for item in ccle]

In [309]:
ccle[0:10]

['LN18',
 '769P',
 '786O',
 'CAOV3',
 'HEPG2',
 'MOLT4',
 'NCIH524',
 'NCIH209',
 'MIAPACA2',
 'MCAS']

In [310]:
getListOfGenesForTerm(ccle, 100, 'ccle_11_27_2017_top_100_min_>=4.gmt', 'Output')

# Drugbank Term List

In [316]:
df = pd.read_csv('Input/drugbank_attribute_list_2017_11.tsv', sep='\t')

In [317]:
df.head()

                                          Attributes
0  3-Hydroxypropyl 3-[(7-carbamimidoyl-1-naphthyl...
1                                             LI-301
2                                      Valproic Acid
3                                           Proellex
4  (3E)-3-[(phenylamino)methylidene]dihydrofuran-...

In [318]:
db = df.values.tolist()

In [319]:
db = [item[0] for item in db]

In [320]:
db[0:10]

['3-Hydroxypropyl 3-[(7-carbamimidoyl-1-naphthyl)carbamoyl]benzenesulfonate',
 'LI-301',
 'Valproic Acid',
 'Proellex',
 '(3E)-3-[(phenylamino)methylidene]dihydrofuran-2(3H)-one',
 'Donepezil',
 'Bromo-Willardiine',
 "'5'-O-(N-(L-Alanyl)-Sulfamoyl)Adenosine",
 'Adenosine',
 '4-(4-methoxy-1H-pyrrolo[2,3-b]pyridin-3-yl)pyrimidin-2-amine']

In [321]:
getListOfGenesForTerm(db, 100, 'drugbank_11_27_2017_top_100_min_>=4.gmt', 'Output')